* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  position: relative;
  font-family: "poppins", sans-serif;
}

.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  background: #fff;
  z-index: 9;
}

.links-container {
  display: flex;
  list-style: none;
}

.link {
  padding: 10px;
  margin-left: 10px;
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
}

.banner {
  width: 100%;
  height: 400px;
  position: relative;
  background: #e7e7e7;
  background-size: cover;
  background-position: center;
}

.blog {
  width: 70vw;
  min-width: 400px;
  height: 100px;
  display: block;
  margin: auto;
  padding: 50px 0;
}

.title {
  font-size: 50px;
  font-weight: 600;
}

.published {
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0 40px;
}

.published span {
  font-weight: 700;
}

.article {
  font-size: 20px;
  line-height: 30px;
  white-space: pre-wrap;
}
